.navbar-container{
    display: flex;
    justify-content: center;
    background-color: #121526;
    color: #fff;
    box-shadow: 0px 10px 20px 0px #0C0E1F;
    position: sticky;
    top: 0;
}

.navbar-content{
    width: 80%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-content>h3{
    font-family: 'Oxanium', sans-serif;
}

.navbar-menu{
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbar-menu>li{
    cursor: pointer;
    background-color: #121526;
    position: relative;
}

.navbar-menu>li::before{
    content: "";
    width: 0%;
    transition: width 0.5s;
}

.navbar-menu>li:hover::before{
    content: "";    
    position: absolute;
    border-radius: 2px;
    bottom: 0;
    background: linear-gradient(90deg, rgba(127, 86, 188, 1), rgba(240, 112, 255, 1));
    width: 100%;
    height: 0.2em;
}