.navbar-container{
    display: flex;
    justify-content: center;
    background-color: rgba(18, 21, 38, 1);
    color: #f2f2f2;
    box-shadow: 0px 10px 20px 0px #0C0E1F;
    position: sticky;
    top: 0;
}

.navbar-content{
    width: 80%;
    /* Centralizar com aling */
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content>h3{
    font-family: 'Oxanium', sans-serif;
}

.navbar-menu{
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbar-menu>li{
    cursor: pointer;
}
